@model IEnumerable<Restaurant.Data.Entities.TableOrder>

@{
    ViewData["Title"] = "Index";
}

<section class="ftco-section" id="table">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-12 pb-12">
                <h3 class=" heading-pricing ftco-animate">Заброньовані столики</h3>
            </div>
        </div>
        <div class="row">
            <div class="ftco-animate col-md-2 mb-2 pb-2">
                <h5><span>Ім'я</span></h5>
            </div>
            <div class="pricing-entry d-flex ftco-animate col-md-2 mb-2 pb-2">
                <h5><span>Призвище</span></h5>
            </div>
            <div class="pricing-entry d-flex ftco-animate col-md-2 mb-2 pb-2">
                <h5><span>Дата</span></h5>
            </div>
            <div class="pricing-entry d-flex ftco-animate col-md-1 mb-1 pb-1">
                <h5><span>Час</span></h5>
            </div>
            <div class="pricing-entry d-flex ftco-animate col-md-2 mb-2 pb-2">
                <h5><span>Телефон</span></h5>
            </div>
            <div class="pricing-entry d-flex ftco-animate col-md-3 mb-3 pb-3">
                <h5><span>Побажання</span></h5>
            </div>
            <hr>
        </div>
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="pricing-entry d-flex ftco-animate col-md-2 mb-2 pb-2">
                    <p>@Html.DisplayFor(modelItem => item.FirstName)</p>
                </div>
                <div class="pricing-entry d-flex ftco-animate col-md-2 mb-2 pb-2">
                    <p>@Html.DisplayFor(modelItem => item.LastName)</p>
                </div>
                <div class="pricing-entry d-flex ftco-animate col-md-2 mb-2 pb-2">
                    <p>@Html.DisplayFor(modelItem => item.Date)</p>
                </div>
                <div class="pricing-entry d-flex ftco-animate col-md-1 mb-1 pb-1">
                    <p>@Html.DisplayFor(modelItem => item.Time)</p>
                </div>
                <div class="pricing-entry d-flex ftco-animate col-md-2 mb-2 pb-2">
                    <p>@Html.DisplayFor(modelItem => item.Phone)</p>
                </div>
                <div class="pricing-entry d-flex ftco-animate col-md-3 mb-3 pb-3">
                    <p>@Html.DisplayFor(modelItem => item.Message)</p>
                </div>
                <hr>
            </div>
        }
    </div>
</section>                       
